<div class="about">
  <div class="container-fluid">
    <div class="row col-xs-12">
    <my-heading></my-heading>
    <div class="flex-container">
      <div>
        <h2 class="pageHeader"> about me </h2>
        <h3><strong> summary </strong></h3>
          <p>
            i am a colorado-based full stack web developer with formal training in javascript (MEVN stack) web development, python, java, and various geographic information systems. i also have recently been extending my knowledge-base with php and ruby on rails. i have worked in sales and customer service in many different industries from car sales to ski and snowboard sales.
          </p><br/>
      </div>

      <div id="pushDown">
        <h3><strong> formal education and degrees </strong></h3>
          <div>
          <ul>
            <li> professional certificate - full stack web development, codecraft school of technology </li><br/>
            <li> nanodegree - android developer basics, udacity (grow with google scholarship winner) </li><br/>
            <li> master of science - geographic infomation science, university of denver </li><br/>
            <li> graduate certificate - geographic information systems, university of denver </li><br/>
            <li> master of science - business management & homeland security, university of maryland </li><br/>
            <li> bachelor of arts - psychology, shippensburg university </li><br/>
          </ul>
        </div>
      </div>

      <div id="pushDown">
        <div>
          <h3><strong> military </strong></h3>
            <p>
               i am a veteran of the u.s. army - i served honorably for 6 years as a noncommissioned officer. during my time in the military, i attended 10 schools, totaling 39 weeks of training over 6 years (not including Basic Combat Training):
            </p>
            <ul>
              <li> Warrior Leader Course (WLC) </li>
              <li> Advanced Leader Course, Common Core (ALC) </li>
              <li> Watercraft Operator Coxswain School (20 School) </li>
              <li> Watercraft Operator Advanced Leader Course (ALC, 30 School) </li>
              <li> RADAR Observer Course </li>
              <li> Automated RADAR Plotting Aid (ARPA) </li>
              <li> Electronic Chart Display & Information System (ECDIS) </li>
              <li> Global Maritime Distress & Safety System (GMDSS) </li>
              <li> Physical Security Basic Course </li>
              <li> Combatives Level 1 </li>
            </ul><br/>

            <p>
              my additional duties included the maintenance and supervision of the following programs:
            </p>
            <ul>
              <li> Watercraft Safety </li>
              <li> Intelligence Oversight </li>
              <li> Physical Security </li>
              <li> Family Readiness Group </li><br/>
            </ul>
        </div>

        <div class="army">
          <span><my-img src="/img/sgt.png" alt="sergeant chevrons"></my-img></span>
          <span><img src="/img/ribbons.png" alt="ribbons" height="100" width="400"/></span>
          <span><my-img src="/img/transpo.jpg" alt="transportation coin"></my-img></span>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
