<div class="automattic">
  <div class="container-fluid">
    <div class="row col-xs-12">
    <new-heading></new-heading>
    <div class="flex-container">
      <div>
        <h2 class="pageHeader"> JavaScript Engineer for Automattic </h2>
        <br/><br/>
        <h3> Why I Want to Work for Automattic </h3>
          <p>
            First off, I want to say how much I have enjoyed this application process. I want to work for a company that makes applying a thinking exercise like creating a GET request to get a secret that must be included instead of hitting a button on a website. I love it. The unique application process inspired me to take it a step further and spend an evening getting back to my web development roots creating this page on my single page application portfolio site devoted completely to Automattic.
          </p>
          <p>
            I first heard about Automattic (beyond WordPress, everyone knows about WordPress) in a LinkedIn video of CEO Matt Mullenweg's TedTalk about The Way We Work. I was instantly intrigued and started reading and researching Automattic. Honestly, the Software Engineer position first caught my eye but once I saw accessibility mentioned in the first bullet point of the JavaScript Engineer posting, I knew I had to apply.
          </p>
          <p>
            Accessibility is such an easily forgotten standard for everyone who doesn't live with abnormal color vision, people that don't have issues with dyslexia (hence the font used here), or people with other challenges. I want to do better for everyone and make the internet a place that everyone can enjoy.
          </p>
          <p>
            Automattic is exactly what I'm looking for in a company: a place where ingenuity is embraced, where stellar products are created from treating employees well, and where diversity is not just a lofty goal, but a reality of everyday life (I'm a Honorably Discharge Army Veteran and a woman, by the way). I want to work for a company that's looking for driven, compassionate, independent yet collaborative, supportive, self-motivated, curious unicorns like me and I sincerely hope that I'm exactly who Automattic has been looking for in a JavaScript Engineer.
          </p><br/>
      </div>

      <div id="pushDown">
        <div class="row">
          <div class="column">
            <h3> JavaScript Engineer Posting </h3>
            <div class="colRow">
              <li> A rock-solid understanding of the core JavaScript language, HTML5, and CSS3. Experience working on accessibility is a plus. </li><br/><br/>
            </div>
            <div class="colRow">
              <li> Familiarity with a server-side language like PHP, Ruby, or Python. </li><br/><br/>
            </div>
            <div class="colRow">
              <li> Proficiency developing well-structured web applications using modern JavaScript tools like React and Redux. </li><br/><br/><br/><br/>
            </div>
            <div class="colRow">
              <li> A real passion for crafting experiences that users rave about. </li><br/><br/><br/>
            </div>
            <div class="colRow">
              <li> The ability to iterate and ship ideas quickly, with loose (at best) direction. </li><br/><br/>
            </div>
            <div class="colRow">
              <li> A love of open source software. </li><br/>
            </div>
          </div>  <!-- z right box -->

          <div class="column">
            <h3> What I Can Offer </h3>
            <div class="colRow">
              <li> Although I have been learning Java and Ruby recently, I still make time for my first love, JavaScript. Accessibility is my first concern (a close second being responsive mobile design). </li><br/>
            </div>
            <div class="colRow">
              <li> I have experience with Python in my former career in GIS, PHP in my internship, and I have started teaching myself Ruby. </li><br/>
            </div>
            <div class="colRow">
              <li> While I don't have experience with React and Redux specifically, I do have experience with Vue.js (if you're unfamiliar with Vue, see <a href="https://about.gitlab.com/2016/10/20/why-we-chose-vue/">this article</a> about why GitLab chose this front-end framework), jQuery, Express.js and a number of other modern JS tools and libraries. </li><br/>
            </div>
            <div class="colRow">
              <li> I love creating beautiful things. In fact, that's exactly why I got into programming and web development in the first place - to create beautiful and efficient solutions to complex, real world problems. </li><br/>
            </div>
            <div class="colRow">
              <li> Loose (at best) direction is where I thrive. I live for the entire process of writing code and solving problems, including the failures and frustrations involved. </li><br/>
            </div>
            <div class="colRow">
              <li> I use Ubuntu to host all of my live websites, Atom as a text editor every day, and Bootstrap to style my websites, just to name a few of the open source projects that I use on a regular basis. To say I love open source is an understatement, It's also crucial to how I operate, right down to dyslexic-friendly font on this page. </li><br/>
            </div>
          </div> <!-- z left box -->
        </div>  <!-- z row -->

        <!-- <h3><strong> formal education and degrees </strong></h3>
          <div>
          <ul>
            <li>  </li><br/>
            <li>  </li><br/>
            <li>  </li><br/>
            <li>  </li><br/>
            <li>  </li><br/>
            <li>  </li><br/>
          </ul>
        </div> -->

      </div> <!-- z pushDown -->

      <div id="pushDown">
        <div class="projects">
          <h3><strong> Websites & Projects </strong></h3>
            <p>
              All of my websites are built completely from scratch. These examples have all been designed, created, and maintained solely by me. All of these sites are built using MongoDB (utilizing Mongoose), Express.js, Vue.js, and Node.js as well as, obviously, HTML, CSS, and JavaScript.
            </p>
            <p>
              All of my sites are fully accessible and responsive to ensure the same experience for every user (visually impaired users, color blindness, etc) on every device (mobile, tablet, desktop, etc.) using Bootstrap.
            </p>
            <p>
              I also dabble in Android development, a few apps are available on the projects page, and have recently started writing in Ruby in addition to daily work in Apex (Salesforce) and JavaScript.
            </p><br/>
            <div>
              <ul>
                <li><a href="https://btfranzen.com/#/development">www.btfranzen.com</a><br/>
                  full description of projects I have worked on, complete with gifs of how they look and operate as well as more information about me.</li><br/>
                <li><a href="https://triggeraware.com/">www.triggeraware.com</a><br/>
                  This site is a database that allows the user to search by TV or movie title which will return any potential triggers the user should be aware of, categorized by Trigger Type.
                  The database was built using web scraping (Cheerio and Request). The search functionality is made possible by Fuze.js fuzzy search JS library.
                  Each Trigger Type is comprised of several related keyword used in the web scraping search; each Trigger Type is named in a way that should minimize the probability of a user being triggered. Each entry found by scraping is assigned a Trigger Type, depending on the keyword used in the search, when it is entered into the database.
                  Users can also fill out a form to recommend a potentially triggering scene in a TV show or movie. These recommendations go into a separate database until I validate them and move them into the main, searchable database. Validation functionality is behind a user login using bcrypt.
                </li><br/>
                <li><a href="https://40northography.com/">www.40northography.com</a><br/>
                  This site is my photography portfolio. During my month-long backpacking trip across Europe, I used this site to give friends and family a first-hand account of the adventure. I provided maps, the data for which came from my GPS watch, daily recaps of where we went and what we saw, and daily photograph uploads. This site allowed users to see what we were seeing, gain some geographical perspective, and read about our adventures without needing any social media membership.
                </li><br/>
                <li><a href="https://piratefabricator.com/">www.piratefabricator.com</a>
                  This is a simple landing page built for a carpenter and welder. I designed and created the logo in Adobe Photoshop.
                </li>
              </ul><br/>
            </div><br/><br/>
            <div>
              <h3><strong> Other Important Websites </strong></h3>
                <ul>
                  <li><a href="https://www.linkedin.com/in/btfranzen/"> LinkedIn </a></li>
                  <li><a href="https://github.com/bfranzen19"> GitHub </a></li>
                  <li><a href="https://stackoverflow.com/users/story/8060232"> Stack Overflow Developer Story </a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
