<div class="about">
  <div class="container-fluid">
    <div class="row col-xs-12">
      <my-heading></my-heading>
    </div><br />

    <div class="row col-xs-12">
      <h3><strong> GIS and satellite imagery experience </strong></h3><br/>
      <p>
        i have worked in the GIS industry, specifically in satellite imagery, for over 3 years. i'm passionate about making beautiful maps with a balance between having enough information while still being visually pleasing to the user.
      </p>
    </div><br />

    <h3 class="center"><strong> select map examples </strong></h3><br/>
    <div class="container-fluid">
      <div class="row col-xs-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/maps/map_tarpsNOLA.jpg" alt="new orleans">
            <div class="carousel-caption d-none d-md-block">
              <h3 class='carouselImg'> new orleans, louisiana </h3>
              <p class='carouselImg'> the original map was published in 1884 and is overlayed on satellite imagery from 2014 to show the contrast in development in new orleans </p>
            </div>
          </div>

          <carousel-img url="/img/maps/map_hikes.jpg" altDesc="hiking in boulder" imgHead="boulder, colorado" imgDesc="this map depicts popular hikes in boulder"></carousel-img>

          <carousel-img url="/img/maps/map_hatteras.jpg" altDesc="cape hatteras" imgHead="cape hatteras, north carolina" imgDesc="this map shows the movement of the cape hatteras shoreline, justifying the decision to move the cape hatteras lighthouse away from the encroaching sea"></carousel-img>

          <carousel-img url="/img/maps/map_2011_all.jpg" altDesc="nola crime 2011" imgHead="crime in 2011" imgDesc="this was part of my thesis for my MS in GIS regarding crime and recovery in new orleans post katrina"></carousel-img>

          <carousel-img url="/img/maps/map_2016_all.jpg" altDesc="nola crime 2016" imgHead="crime in 2016" imgDesc="this was part of my thesis for my MS in GIS regarding crime and recovery in new orleans post katrina"></carousel-img>

          <carousel-img url="/img/maps/map_boulder.jpg" altDesc="boulder" imgHead="boulder, colorado" imgDesc="popular tourist locations in boulder, colorado"></carousel-img>

          <carousel-img url="/img/maps/map_graduatedColors.jpg" altDesc="cape hatteras" imgHead="cape hatteras shipwrecks" imgDesc="this map show statistical analysis of shipwrecks off the coast of hatteras"></carousel-img>

          <carousel-img url="/img/maps/map_leveebreak.jpg" altDesc="levees" imgHead="new orleans" imgDesc="showing the levee breaks in new orleans during hurricane katrina"></carousel-img>

          <carousel-img url="/img/maps/map_nolaDEM.jpg" altDesc="new orleans" imgHead="new orleans" imgDesc="elevations of new orleans, louisiana"></carousel-img>

        </div>  <!-- z carousel-inner -->

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">next</span>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
