<div class="about">
  <div class="container-fluid">
    <div class="row col-xs-12">
      <my-heading></my-heading>
      <h2 class="pageHeader"> photography </h2><br/>
    </div>
      <h3><strong> my gear </strong></h3>
    </div>

    <div class="row col-xs-12">
      <div>
        <ul>
          <li> nikon d3300 </li> <br/>
          <li> AF-S nikkor 18-55mm 1 : 1.35 - 5.6 GII </li> <br/>
          <li> AF-S nikkor 35mm 1 : 1.8 G, &#8734; - 0.3 / 0.98 ft &#248; 52 </li> <br/>
          <li> sigma 18-200mm 1 : 3.5 - 6.3 DC &#248; 62 </li> <br/>
          <li> altura 62mm and 52mm filters </li> <br/>
          <li> gopro hero 4 silver </li> <br/>
          <li> google pixel 2 </li> <br/>
        </ul>

        <p>
          i use adobe lightroom and, sometimes photoshop, purely to recreate the colors and sharpness of real life in the photographs and, occasionally, to give the images a similar look to watercolor paintings. i never photoshop objects into/out of my images.
        </p><br/><br/>
      </div>

      <p> please visit <a href="https://40northography.com" target="_blank">www.40northography.com</a> to learn more about the european expedition, view maps, and see more of my images. </p><br/>

      <div class="row col-xs-12">
      <h3><strong> working with wild women </strong></h3>
        <br />
        <p>
          i volunteer a lot of my time working with women's outdoors organizations. i have had the opportunity to take pictures for the US women's whitewater rafting team in their preparation to represent the US at the world championships in japan. i have also photographed bell's joyride - a program in which women get to mountain bike with and learn from women professional mountainbikers.
        </p>
      </div>
    </div><br/><br/>

    <h3 class="center"><strong> select images </strong></h3><br/>
    <div class="container-fluid">
      <div class="row col-xs-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/carouselResized/cancun.jpg" alt="cancun">
            <div class="carousel-caption d-none d-md-block">
              <h3 class='carouselImg'>canc&#218;n, mexico</h3>
              <p class='carouselImg'>taken on the southern part of the zona hotelera</p>
            </div>
          </div>

          <carousel-img url="/img/carouselResized/bestbuddytahoe.jpg" altDesc="lake tahoe" imgHead="lake tahoe, california" imgDesc="gopro hero 4 - north shore of lake tahoe"></carousel-img>

          <carousel-img url="/img/carouselResized/homerbrainerd.jpg" altDesc="homer at brainard" imgHead="brainard lake, colorado" imgDesc="nikon d3300 - homer bacon at brainard lake"></carousel-img>

          <carousel-img url="/img/carouselResized/bluelagoon.jpg" altDesc="blue lagoon" imgHead="blue lagoon, iceland" imgDesc="nikon d3300 - blue lagoon geothermic pool"></carousel-img>

          <carousel-img url="/img/carouselResized/kerid.jpg" altDesc="kerid lake" imgHead="kerid, iceland" imgDesc="nikon d3300 - kerid is a lake inside of a volcanic crater"></carousel-img>

          <carousel-img url="/img/carouselResized/borufoss.jpg" altDesc="porufoss" imgHead="porufoss, iceland" imgDesc="nikon d3300 - porufoss waterfall in kjosarskardvegur, iceland"></carousel-img>

          <carousel-img url="/img/carouselResized/midlina.jpg" altDesc="midlina" imgHead="midlina, iceland (leif the lucky bridge)" imgDesc="nikon d3300 - midlina is a bridge across the north american and eurasian tectonic plates in iceland"></carousel-img>

          <carousel-img url="/img/carouselResized/bvbridge.jpg" altDesc="buena vista bridge" imgHead="buena vista, colorado" imgDesc="nikon d3300 - taken on an old railroad bridge over the arkansas river outside of buena vista, colorado"></carousel-img>

          <carousel-img url="/img/carouselResized/mitchelllake.jpg" altDesc="mitchell lake" imgHead="mitchell lake, colorado" imgDesc="nikon d3300 - taken on mitchell lake, just northwest of brainard lake, coloardo"></carousel-img>

          <carousel-img url="/img/carouselResized/onedaynola.jpg" altDesc="new orleans" imgHead="french quarter - new orleans, louisana" imgDesc="nikon d3300 - taken in the infamous french quarter of new orleans, louisana"></carousel-img>

          <carousel-img url="/img/carouselResized/creekbymitchelllake.jpg" altDesc="creek by mitchell lake" imgHead="mitchell lake, colorado" imgDesc="nikon d3300 - creek by mitchell lake in full bloom"></carousel-img>

          <carousel-img url="/img/carouselResized/pingvellir.jpg" altDesc="thingvellir" imgHead="thingvellir national park, iceland" imgDesc="nikon d3300 - national park in iceland overlooking thingvallavetn lake"></carousel-img>

          <carousel-img url="/img/carouselResized/dadshatbv.jpg" altDesc="railroad bridge" imgHead="buena vista, colorado" imgDesc="nikon d3300 - old railroad bridge over the arkansas river overlooking mt. princeton, a collegiate peaks 14-er"></carousel-img>

          <carousel-img url="/img/carouselResized/sanitassunrise.jpg" altDesc="mount sanitas" imgHead="mount sanitas, boulder, colorado" imgDesc="nikon d3300 - taken from sanitas on a sunrise hike overlooking green mountain, bear peak, and boulder, colorado"></carousel-img>

          <carousel-img url="/img/carouselResized/denverskyline.jpg" altDesc="denver" imgHead="denver, colorado" imgDesc="nikon d3300 - denver skyline taken from north table mountain in golden, colorado"></carousel-img>

          <carousel-img url="/img/carouselResized/solfarid.jpg" altDesc="solfarid" imgHead="reykjavik, iceland" imgDesc="nikon d3300 - solfarid, or sun voyager, is a sculpture in reykjavik, iceland"></carousel-img>

          <carousel-img url="/img/carouselResized/flatironedit.jpg" altDesc="flatirons" imgHead="flatirons - boulder, colorado" imgDesc="nikon d3300 - taken from the flatiron 1 and 2 trail in chautauqua, boulder, colorado and edited to look more like a watercolor painting than a real image"></carousel-img>

          <carousel-img url="/img/carouselResized/stockholm.jpg" altDesc="stockholm" imgHead="stockholm, sweden" imgDesc="nikon d3300 - taken from the katarina elevator (katarinahissen) in sodermalm, the souther neighborhood of stockholm, sweden"></carousel-img>

          <carousel-img url="/img/carouselResized/flatironswatercoloredit.jpg" altDesc="flatirons" imgHead="flatirons - boulder, colorado" imgDesc="nikon d3300 - this was taken on the east edge of boulder, colorado and edited to look like a watercolor painting"></carousel-img>

          <carousel-img url="/img/carouselResized/stortorget.jpg" altDesc="stortorget" imgHead="stortorget - stockholm, sweden" imgDesc="nikon d3300 - this is the old square of gamla stan (old town) stockholm"></carousel-img>

          <carousel-img url="/img/carouselResized/gamlastan.jpg" altDesc="gamla stan" imgHead="gamla stan - stockholm, sweden" imgDesc="nikon d3300 - taken on the old town island of stockholm, sweden"></carousel-img>

          <carousel-img url="/img/carouselResized/strokkur.jpg" altDesc="strokkur" imgHead="strokkur - selfoss, iceland" imgDesc="nikon d3300 - strokkur is a fountain geyser located in the same geothermal area as the great geysir in southern iceland"></carousel-img>

          <carousel-img url="/img/carouselResized/tahoesunjump.jpg" altDesc="lake tahoe" imgHead="lake tahoe, california" imgDesc="gopro hero 4 - taken in lake tahoe"></carousel-img>

          <carousel-img url="/img/carouselResized/geysir.jpg" altDesc="geysir" imgHead="the great geysir, iceland" imgDesc="nikon d3300 - geysir is attributed to the origin of the english word 'geyser'"></carousel-img>

          <carousel-img url="/img/carouselResized/grottaisland.jpg" altDesc="grotta island" imgHead="grotta island - seltjarnarnes, iceland" imgDesc="nikon d3300 - the grotta island lighthouse sits just west of reykjavik, iceland. this photograph was taken at about 11pm local time but, due to the 'midnight sun', the sun was still fairly high above the horizon"></carousel-img>

          <carousel-img url="/img/carouselResized/teamusa.jpg" altDesc="team usa" imgHead="salida, colorado" imgDesc="nikon d3300 - team usa practicing for the national championships in japan"></carousel-img>

          <carousel-img url="/img/carouselResized/gunbarrel.jpg" altDesc="sunset in gunbarrel" imgHead="gunbarrel, colorado" imgDesc="samsung galaxy s7 - sunset over the great divide from the bike path in gunbarrel"></carousel-img>

          <carousel-img url="/img/carouselResized/teamusa1.jpg" altDesc="team usa" imgHead="salida, colorado" imgDesc="nikon d3300 - team usa practicing in the slalom whitewater rafting event in preparation for the world championships. these beasts ended up taking 5th in the entire world in this event"></carousel-img>

          <carousel-img url="/img/carouselResized/happyhomer.jpg" altDesc="happy homer" imgHead="homer bacon - gunbarrel, colorado" imgDesc="nikon d3300 - taken on a hike in open space in gunbarrel"></carousel-img>

          <carousel-img url="/img/carouselResized/topofsugarloaf.jpg" altDesc="top of sugarloaf" imgHead="sugarloaf mountain - boulder, colorado" imgDesc="nikon d3300 - taken from the top of sugarloaf mountain, right outside of boulder. sugarloaf stands just shy of 9,000ft above sea level"></carousel-img>

          <carousel-img url="/img/carouselResized/homeratbrainerd.jpg" altDesc="homer bacon" imgHead="brainard lake, colorado" imgDesc="nikon d3300 - homer bacon enjoying the view of brainard lake, colorado"></carousel-img>

          <carousel-img  url="/img/carouselResized/underwatertahoe.jpg" altDesc="lake tahoe" imgHead="lake tahoe, california" imgDesc="gopro hero 4 - taken underwater in lake tahoe looking up"></carousel-img>
        </div>  <!-- z carousel-inner -->

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">next</span>
        </a>
        </div>
      </div>
    </div>
</div>
