<div class="about">
  <div class="container-fluid">
    <div class="row col-xs-11">
      <my-heading></my-heading>
    </div><br />

      <div class="row col-xs-11">
        <h3><strong> #TheSkippyProject - how it all began </strong></h3>
          <p>
            my father was always my world. when he got sick, my best friend bought me a nikon d3300 with a nikkor 18-55mm lens and told me: "i see a world where you travel around taking pictures and you're happy."
          </p>
          <p>
            after my dad passed away on march 1, 2017, photography became an outlet for me. it allowed me to still see the beauty in this world despite his absence.
          </p>
      </div><br />

      <div class="row col-xs-11">
        <h3><strong> #TheSkippyProject & #MyDadsHat </strong></h3>
          <p>
            the only thing i have of my dad's is a washington redskins hat (one of his closest friends was the redskins conditioning coach). since his passing, i have made it a point to take his hat to as many beautiful places as i can, which evolved into #TheSkippyProject.
          </p>
          <p>
            since his death, #MyDadsHat has gone to the following countries, most of which were during the biggest trip of #TheSkippyProject at the end of 2017:
            <ul>
              <li> cancun, mexico </li>
              <li> oslo, norway </li>
              <li> stockholm, sweden </li>
              <li> malm&#246;, sweden </li>
              <li> copenhagen, denmark </li>
              <li> freetown christiania, denmark </li>
              <li> munich, germany </li>
              <li> innsbruck, austria </li>
              <li> verona, italy </li>
              <li> florence, italy </li>
              <li> rome, italy </li>
              <li> vatican city, italy </li>
              <li> amsterdam, netherlands </li>
              <li> brussels, belgium </li>
              <li> london, england </li>
              <li> reykjavi&#769;k, iceland </li>
            </ul>
          </p>
          <p>
            the purpose of all of this is to live. i want to take my father's hat to all the wonderful places in the world and help remind myself that there is beauty in this world, even without him here.
          </p><br/>
        </div>

        <p> please visit <a href="https://4040northography.com" target="_blank">www.40northography.com</a> to learn more about the european expedition, view maps, and see more of my images. </p><br/>

        <h3 class="center"><strong> a visualization of the trip </strong></h3><br/>
        <div class="container-fluid">
          <div class="row col-xs-11">

            <iframe class="center" src="https://www.google.com/maps/d/u/0/embed?mid=1RM_5ADVyjkMQz5UFBLH3pbW6Ncg" width="800" height="500"></iframe>
          </div>
        </div>

  </div>
</div>
