<div class="about">
  <div class="container-fluid">
    <div class="row col-xs-12">
      <my-heading></my-heading>

        <div class="webDev">
        <h2 class="pageHeader"> software & web development </h2><br/>

        <div class="flex-container">
          <p>
            all of my websites  are built completely from scratch. these examples have all been designed, created, and maintained solely by me. all of these sites are built using MongoDB (utilizing Mongoose), express.js, vue.js, node.js, and NPM as well as HTML, CSS, and javascript. all of my sites are fully accessible and responsive to ensure the same experience for every user (visually impaired users, color blindness) on every device (mobile, tablet, desktop, etc.) using bootstrap. the sites below are categorized by live sites (deployed to their own URLs) and other projects with GIFs to show functionality and looks of the applications.
          </p><br />
          <p>
            in january 2018, i was awarded the <a href="https://www.udacity.com/grow-with-google" target="_blank">Grow With Google</a> scholarship for <a href="https://www.udacity.com/course/android-basics-nanodegree-by-google--nd803" target="_blank">android development basics</a>. during the 3 month challenge course, i created a few different android applications. this course allowed me to further familiarize myself with java while also giving me exposure to XML, android studio, and the mobile application development process. after completing the 3 month challenge course, i was awarded a full scholarship for the nanodegree program through udacity. i completed the program in october, 2018.
          </p>
        </div><br />


        <!-- page navigation -->
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="#background">background information</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">live projects</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#btfranzen">btfranzen.com</a>
              <a class="dropdown-item" href="#triggeraware">triggeraware.com</a>
              <a class="dropdown-item" href="#40northography">40northography.com</a>
              <a class="dropdown-item" href="#piratefabricator">piratefabricator.com</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">other projects</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#cargoValidator">cargo validator</a>
              <a class="dropdown-item" href="#vueToDo">vue to-do list</a>
              <a class="dropdown-item" href="#nasaAPI">NASA API</a>
              <a class="dropdown-item" href="#siteFromScreenshot">site from screenshot</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">android applications</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#scoreKeeper">score keeper</a>
              <a class="dropdown-item" href="#justJava">just java</a>
              <a class="dropdown-item" href="#superMarioQuiz">super mario quiz</a>
            </div>
          </li>

        </ul><br />


        <h4><B>live projects</B></h4>

          <div class="flex-container">

          <!-- btfranzen.com -->
            <div id="btfranzen" class="card text-center">
              <div class="card-header">
                btfranzen.com
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-vuejs" aria-hidden=true role="img" style="color:#64B587;"></i>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <img src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png" alt="bootrap" aria-hidden=true role="img"/>
                        <span>|</span>
                        <i class="fab fa-digital-ocean" aria-hidden=true role="img" style="color:#216CF6;"></i>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->

                    </div>
                  </div>
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-text">
                        <div class="card-body">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/BMI3mdW5nVtlkuRSdJ" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            (this site) - this is a single page application (SPA) that i created as a personal portfolio. this SPA utilizes vue router, custom components, as well as javascript, HTML, CSS, bootstrap, and expressjs.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body -->
              <div class="card-footer">
                <a href="https://btfranzen.com" class="btn btn-outline-info" target="_blank">www.btfranzen.com</a>
                <a href="https://github.com/bfranzen19/portfolioSPA" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>
            </div>  <!-- z card text-center -->

          <br/><br/><br/><br/>
          <!-- TriggerAware -->
            <div id="triggeraware" class="card text-center">
              <div class="card-header">
                TriggerAware
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://www.worksonarm.com/wp-content/uploads/2017/03/mongodb-logo-1.png" alt="mongoDB" aria-hidden=true role="img"/>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-vuejs" aria-hidden=true role="img" style="color:#64B587;"></i>
                        <img src="http://www.websnube.com/wp-content/uploads/2016/07/jquery-icon.png" alt="photoshop" aria-hidden=true role="img"/>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <img src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png" alt="bootstrap" aria-hidden=true role="img"/>
                        <span>|</span>
                        <i class="fab fa-digital-ocean" aria-hidden=true role="img" style="color:#216CF6;"></i>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/2fPijmIZaIeLnVzpTK" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            this database allows you to search by tv/movie title or trigger type to ascertain whether or not there is a risk for you or another survivor to be triggered. users can also fill out a form to recommend triggering scenes to add to the database. this application was built as my final project at CodeCraft and was built using web scraping (cheerio and request), javascript, mongoDB (using mongoose to validate data), express, fuse.js (fuzzy search JS library), bootstrap 4, CSS, HTML, bcrypt for authentication to login and verify the recommended scenes from users.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://triggeraware.com" class="btn btn-outline-info" target="_blank">www.triggeraware.com</a>
                <a href="https://github.com/bfranzen19/triggerAware" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- z triggerAware -->

          <br/><br/><br/><br/>
          <!-- 40northography -->
            <div id="40northography" class="card text-center">
              <div class="card-header">
                40northography
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://www.worksonarm.com/wp-content/uploads/2017/03/mongodb-logo-1.png" alt="mongoDB" aria-hidden=true role="img"/>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-vuejs" aria-hidden=true role="img" style="color:#64B587;"></i>
                        <img src="http://www.websnube.com/wp-content/uploads/2016/07/jquery-icon.png" alt="photoshop" aria-hidden=true role="img"/>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <img src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png" alt="bootstrap" aria-hidden=true role="img"/>
                        <span>|</span>
                        <i class="fab fa-digital-ocean" aria-hidden=true role="img" style="color:#216CF6;"></i>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/8754kgtpeTkE7aFioH" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            i created this site, originally, as a photography portfolio but then utilized it as a way of allowing people to follow me on a month-long european backpacking trip to 13 different countries (if you count the freetown christiania in copenhagen) without needing to have membership to any social media. it allowed friends and family to know that we were safe, see some pictures, see maps of where we explored in each location (using my GPS watch), and hear a daily paragraph about our travels. it also allowed me to continue coding, maintain a website, and showcase photographs.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://40northography.com" class="btn btn-outline-info" target="_blank">www.40northography.com</a>
                <a href="https://github.com/bfranzen19/40northography" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- z 40northography -->

          <br/><br/><br/><br/>
          <!-- piratefabricator -->
            <div id="piratefabricator" class="card text-center">
              <div class="card-header">
                pirate fabricator
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-vuejs" aria-hidden=true role="img" style="color:#64B587;"></i>
                        <img src="http://www.websnube.com/wp-content/uploads/2016/07/jquery-icon.png" alt="photoshop" aria-hidden=true role="img"/>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <img src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png" alt="bootstrap" aria-hidden=true role="img"/>
                        <img src="https://www.freepnglogos.com/uploads/photoshop-png-logo/photoshop-cc-splash-png-logo-3.png" alt="photoshop" aria-hidden=true role="img"/>
                        <span>|</span>
                        <i class="fab fa-digital-ocean" aria-hidden=true role="img" style="color:#216CF6;"></i>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <img src="/img/pirateFab.jpg" id="pirateFabImg"/>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            this is a simple landing page for a client who is a welder and carpenter. i designed and created the logo using adobe photoshop.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://piratefabricator.com" class="btn btn-outline-info" target="_blank">www.piratefabricator.com</a>
                <a href="https://github.com/bfranzen19/piratefabricator" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- z piratefabricator -->


          </div>  <!-- z flex-container -->

          <br/><br/><br/><br/>

          <!-- ST other projects -->
          <h4 id="otherProjects"><B>other projects</B></h4>

          <div class="flex-container">

          <!-- cargo validator-->
            <div id="cargoValidator" class="card text-center">
              <div class="card-header">
                cargo validator
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://www.worksonarm.com/wp-content/uploads/2017/03/mongodb-logo-1.png" alt="mongoDB" aria-hidden=true role="img"/>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-vuejs" aria-hidden=true role="img" style="color:#64B587;"></i>
                        <img src="http://www.websnube.com/wp-content/uploads/2016/07/jquery-icon.png" alt="photoshop" aria-hidden=true role="img"/>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <img src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png" alt="bootstrap" aria-hidden=true role="img"/>
                        <span>|</span>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/1kTO0C5WaImdGDjHIo" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            a simple project for my full-stack web development course utilizing vue and practicing sending data from the front-end to the backend and validating data.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://github.com/bfranzen19/roadtripValidator" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- z cargo validator -->

          <br/><br/><br/><br/>

          <!-- vue to-do list -->
            <div id="vueToDo" class="card text-center">
              <div class="card-header">
                vue to-do
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://www.worksonarm.com/wp-content/uploads/2017/03/mongodb-logo-1.png" alt="mongoDB" aria-hidden=true role="img"/>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-vuejs" aria-hidden=true role="img" style="color:#64B587;"></i>
                        <img src="http://www.websnube.com/wp-content/uploads/2016/07/jquery-icon.png" alt="photoshop" aria-hidden=true role="img"/>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <img src="https://cdn-images-1.medium.com/max/1024/1*9HanDsRU11ZMsgDGJwN96w.png" alt="bootstrap" aria-hidden=true role="img"/>
                        <span>|</span>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/623JY9PcHykbinyaXp" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            a project from my full-stack web development course used to practice creating a CRUD to-do list using mongoDB, mongoose, and vue.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://github.com/bfranzen19/roadtripValidator" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- vue to-do list -->

          <br/><br/><br/><br/>

          <!-- nasa api -->
            <div id="nasaAPI" class="card text-center">
              <div class="card-header">
                NASA API
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <img src="https://images.siftery.com/image/upload/v1497938494/v2/p/products/prAFdtY4mTx63b.png" alt="express.js" aria-hidden=true role="img"/>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <i class="fab fa-npm" aria-hidden=true role="img" style="color:#B23230;"></i>
                        <span>|</span>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/YiUFAJbygx5r7q6T58" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            a project for my full-stack web development course practicing sending, receiving, and displaying request to NASA's API. this app returns all of the objects deemed within dangerous range of earth.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://github.com/bfranzen19/nasaII" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- nasa api -->

          <br/><br/><br/><br/>

          <!-- site from screenshot -->
            <div id="siteFromScreenshot" class="card text-center">
              <div class="card-header">
                site from screenshot
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body icons">
                        <i class="fab fa-js-square" aria-hidden=true role="img" style="color:#EDDA68;"></i>
                        <i class="fab fa-css3" aria-hidden=true role="img" style="color:#2852DC;"></i>
                        <i class="fab fa-html5" aria-hidden=true role="img" style="color:#D45532;"></i>
                        <span>|</span>
                        <i class="fab fa-node" aria-hidden=true role="img" style="color:#2F6B1C;"></i>
                        <span>|</span>
                        <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                        <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                      </div>  <!-- z icons -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
                <div class="row">
                  <div class="col-sm-6 gif">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text">
                          <iframe id="triggerAwareGIF" src="https://giphy.com/embed/39vd2KpH7zjMx1vHzb" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        </div>  <!-- z card-text -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                  <div class="col-sm-6 desc">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-text projectDesc">
                          <br/><p>
                            an early project for my full-stack web development course practicing recreating a popular site from a screen-shot. this example replicates my instagram page.
                          </p>
                        </div>  <!-- z projectDesc -->
                      </div>  <!-- z card-body -->
                    </div>  <!-- z card -->
                  </div>  <!-- z col -->
                </div>  <!-- z row -->
              </div>  <!-- z card-body-->
              <div class="card-footer">
                <a href="https://github.com/bfranzen19/site-from-screenshot" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                <a href="#" class="btn btn-outline-primary">back to the top</a>
              </div>  <!-- z card-footer-->
            </div>  <!-- site from screenshot -->

          </div>  <!-- z other projects -->

          <br/><br/><br/><br/>

          <!-- st android -->
          <h4 id="androidApps"><B>android applications</B></h4>

            <!-- score keeper-->
              <div id="scoreKeeper" class="card text-center">
                <div class="card-header">
                  score keeper
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body icons">
                          <i class="fab fa-android" aria-hidden=true role="img" style="color:#97C05A;"></i>
                          <i class="far fa-file-code" aria-hidden=true role="img" style="color:#1212f9;"></i>
                          <span>|</span>
                          <i class="fab fa-java" aria-hidden=true role="img" style="color:#cc0e0e;"></i>
                          <span>|</span>
                          <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                          <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                        </div>  <!-- z icons -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                  </div>  <!-- z row -->
                  <div class="row">
                    <div class="col-sm-6 gif">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-text">
                            <iframe id="triggerAwareGIF" src="https://giphy.com/embed/RkJkmIUYkA4JWhKYt8" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                          </div>  <!-- z card-text -->
                        </div>  <!-- z card-body -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                    <div class="col-sm-6 desc">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-text projectDesc">
                            <br/><p>
                              built with XML and java in android studio, this application was created to track goals, draw controls, and fouls for women's lacrosse. this was one of the earlier projects in the android developer course and the first project that included java functionality.
                            </p>
                          </div>  <!-- z projectDesc -->
                        </div>  <!-- z card-body -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                  </div>  <!-- z row -->
                </div>  <!-- z card-body-->
                <div class="card-footer">
                  <a href="https://github.com/bfranzen19/ScoreKeeper" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                  <a href="#" class="btn btn-outline-primary">back to the top</a>
                </div>  <!-- z card-footer-->
              </div>  <!-- scoreKeeper -->

            <br/><br/><br/><br/>

            <!-- justJava-->
              <div id="justJava" class="card text-center">
                <div class="card-header">
                  just java
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body icons">
                          <i class="fab fa-android" aria-hidden=true role="img" style="color:#97C05A;"></i>
                          <i class="far fa-file-code" aria-hidden=true role="img" style="color:#1212f9;"></i>
                          <span>|</span>
                          <i class="fab fa-java" aria-hidden=true role="img" style="color:#cc0e0e;"></i>
                          <span>|</span>
                          <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                          <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                        </div>  <!-- z icons -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                  </div>  <!-- z row -->
                  <div class="row">
                    <div class="col-sm-6 gif">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-text">
                            <iframe id="triggerAwareGIF" src="https://giphy.com/embed/WO63VJHsJQ2RuXhEvm" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                          </div>  <!-- z card-text -->
                        </div>  <!-- z card-body -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                    <div class="col-sm-6 desc">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-text projectDesc">
                            <br/><p>
                              built with XML and java in android studio, this application was created and revised repeatedly throughout the course. it was used to learn about java, object oriented programming, classes, interaction between java and xml, and intents. the application allows the user to interact with buttons, checkboxes, text fields, and uses intents to open the email application.
                            </p>
                          </div>  <!-- z projectDesc -->
                        </div>  <!-- z card-body -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                  </div>  <!-- z row -->
                </div>  <!-- z card-body-->
                <div class="card-footer">
                  <a href="https://github.com/bfranzen19/JustJava" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                  <a href="#" class="btn btn-outline-primary">back to the top</a>
                </div>  <!-- z card-footer-->
              </div>  <!-- z justJava -->

            <br/><br/><br/><br/>


            <!-- superMarioQuiz-->
              <div id="superMarioQuiz" class="card text-center">
                <div class="card-header">
                  super mario quiz
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body icons">
                          <i class="fab fa-android" aria-hidden=true role="img" style="color:#97C05A;"></i>
                          <i class="far fa-file-code" aria-hidden=true role="img" style="color:#1212f9;"></i>
                          <span>|</span>
                          <i class="fab fa-java" aria-hidden=true role="img" style="color:#cc0e0e;"></i>
                          <span>|</span>
                          <i class="fab fa-accessible-icon" aria-hidden=true role="img" style="color:;"></i>
                          <i class="fas fa-mobile-alt" aria-hidden=true role="img" style="color:;"></i>
                        </div>  <!-- z icons -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                  </div>  <!-- z row -->
                  <div class="row">
                    <div class="col-sm-6 gif">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-text">
                            <iframe id="triggerAwareGIF" src="https://giphy.com/embed/OqFpgTre2f4Oe4SF2Q" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                          </div>  <!-- z card-text -->
                        </div>  <!-- z card-body -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                    <div class="col-sm-6 desc">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-text projectDesc">
                            <br/><p>
                              built with java and xml in android studio, this was the final project in the #GrowWithGoogle android basics track on udacity. this appliction uses text fields, checkboxes, radio buttons, submit button to allow the user to take a short quiz about the super mario brothers gaming world. the input is scored and the user's score is then reported to them using toasts.
                            </p>
                          </div>  <!-- z projectDesc -->
                        </div>  <!-- z card-body -->
                      </div>  <!-- z card -->
                    </div>  <!-- z col -->
                  </div>  <!-- z row -->
                </div>  <!-- z card-body-->
                <div class="card-footer">
                  <a href="https://github.com/bfranzen19/superMarioQuiz" class="btn btn-outline-dark" target="_blank">see the code on <i class="fab fa-github"></i></a>
                  <a href="#" class="btn btn-outline-primary">back to the top</a>
                </div>  <!-- z card-footer-->
              </div>  <!-- z superMarioQuiz -->

            <br/><br/><br/><br/>




        </div>  <!-- z webDev -->

        <br/><br/><br/><br/>

        <!-- ST background section -->
        <div id="background" class="flex-container">
          <div class="jumbotron">
            <!-- <div class="container"> -->
              <h4><b>background</b></h4>

              <p  id="pushDown">
                after my time in the army, i started working in GIS and satellite imagery which pushed me to further consider a career change into web and software development. codecraft school of technology made this career change a reality for me.
              </p>

              <p id="pushDown">
                at codecraft, i studied the javascript MEVN stack which includes mongoDB and mongoose, expressjs, vuejs, and nodejs. i also became proficient in using BASH/command line, git, github, HTML, CSS, jQuery, bootstrap, object oriented programming, and writing both front and backend code.
              </p>

              <p id="pushDown">
                in addition to my time at codecraft, i have also taken classes in python, java, object oriented programming, software development lifecycle (SDLC), and javascript-based web mapping at the university of denver in denver, colorado.
              </p>

              <p id="pushDown">
                in the beginning of 2018, i began the #GrowWithGoogle android basics challenge course on udacity. this course allowed me to further practice java, object oriented programming, and learn xml, android studio, and mobile development practices. after the 3 month challege course, i was awarded a full scholarship to the android basics nanodegree through udacity.
              </p>

              <p id="pushDown">
                after graduating from codecraft, i was offered a position a junior application developer at a thriving, excellent company here in boulder, colorado. i'm happy to be getting paid to do what i love and learning relevant, helpful skills. now, i work mostly in the apex programming language as a salesforce developer. although a lot of my work is comprised of integrating various geographic information systems into our salesforce instance so i do get to write some javascript pretty regularly, and use my GIS background as well.
              </p>

              <p id="pushDown">
                please take a look at my github account to see what i've been working on and my progress throughout my time as a student at codecraft, as a student in the #GrowWithGoogle android basics course, and as a junior application developer at my current company.
              </p>
            <!-- </div> -->
            <a href="#" class="btn btn-outline-primary">back to the top</a>
          </div>
        </div>

    </div>
  </div>
</div>  <!-- z about -->
