<div class="about">
  <div class="container-fluid">
    <div class="row col-xs-12">
      <my-heading></my-heading>

        <div class="webDev">
        <h2 class="pageHeader"> web development </h2>
        <h4>projects</h4>
        <ul id="pushDown">
          <li><a href="https://triggeraware.com">www.triggeraware.com</a> - a searchable database for tv and movie titles allowing survivors of traumatic events to identify tv shows and movies with probably triggering scenes in them. this allows the user to choose whether to view or avoid the title completely.</li><br/>
          <li><a href="https://40northography.com">www.40northography.com</a> - my photography portfolio site. be sure to follow along during my european backpacking trip december 2017 - january 2018.</li>
        </ul><br/><br/>

        <h4>background</h4>
        <p  id="pushDown">
          after my time in the army, i started working in GIS and satellite imagery which pushed me to further consider a career change into web and software development. codecraft school of technology made this career change a reality for me.
        </p>

        <p id="pushDown">
          at codecraft, i studied the javascript MEVN stack which includes mongoDB and mongoose, expressjs, vuejs, and nodejs. i also became proficient in using BASH/command line, git, github, HTML, CSS, jQuery, bootstrap, object oriented programming, and writing both front and backend code.
        </p>

        <p id="pushDown">
          in addition to my time at codecraft, i have also taken classes in python, java, object oriented programming, software development lifecycle (SDLC), and javascript-based web mapping at the university of denver in denver, colorado.
        </p>

        <p id="pushDown">
          please take a look at my github account to see what i've been working on and my progress throughout my time as a student at codecraft.
        </p>
        </div>

    </div>
  </div>
</div>
